button {
  background-color: Transparent;
  outline:none;
  border: none;
  overflow: hidden;
}

#metersDiv {
  margin-top: 90px;
}

meter {
  height: 25px;
  width: 200px;
}

meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
  background: #1f5e4c;
}

meter::-webkit-meter-suboptimum-value {
  background: #fdb81a;
}

meter::-webkit-meter-even-less-good-value{
  background: #f33807;
}

#commandsDiv {
  margin-top: 40px;
  margin-bottom: 125px!important;
}

.actionBtn {
  width: 170px;
  height: 44px;
  float: left;
  margin-left: 22px;
}

.actionBtn:hover {
  cursor: pointer;
}

#feedBtn {
  background-image: url('../img/Feed2.png');
}

#petBtn {
  background-image: url('../img/Pet.png');
}

#combBtn {
  background-image: url('../img/Comb.png');
}

#playBtn {
  background-image: url('../img/Play.png');
}

#lionDiv {
  margin-top: 55px;
}
